.buttonsContainer {
}

.responseContainer {
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.image {
}

.textContainer{
}

.code {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.text {
}
.info {
}