.sidebar {
display: none;
}

.sidebar.open {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #FFFFFF;
    top: 0;
    left: 0;
}

.background {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav {
    margin: 0 auto;
}
.nav a {
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;
}
nav a:hover:active{
    color: #3D6B99;
}
.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}
.close {
    width: 40px;
    background: none;
    border: none;
}

.close img {

}
