.loader {
    overflow-clip-margin: content-box;
    overflow: hidden;
    font-size: 10px;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: linear-gradient(to right, #7256b8 10%, rgba(174,128,183, 0) 42%);

    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;

}
.loader:after {
    background: #FFFFFF;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
@-webkit-keyframes load3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {

        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





