.radio{

}

input[type="radio"]{
   display: none;
}
input[type="radio"] + span {
    display: inline-block;
    position: relative;
    padding-left: 1.5em;
}
input[type="radio"] + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.1em;
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    border-radius: 50%;
}
input[type="radio"]:checked + span::after {
    content: "";
    position: absolute;
    left: 4px;
    top: calc(0.1em + 4px);
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(1em - 6px);
    height: calc(1em - 6px);
    border-radius: 50%;
}
.radio::before{

}



.radio:checked::before {

}

.label {
    display:flex;
    margin-left:50px;
}

.options {

}
