.App {
    --header_height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hw {
    width: 600px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    padding: 10px;
}

.hwTitle {
text-align: center;
}